.articlePage{
    background-image: url('https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    height: 100vh;
    background-size:cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.articlePara{
    border-radius: 5px;
    background-color: rgba(182, 180, 162, 0.3);
    color: white;
    line-height: 30px;
}

.articleParaEdit{
  color:white;
  font-size: 20;
  font-family: sans-serif;
}

.error{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
}


/* Article Heading */

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }

.articleTitle{
    font-size:30px;
    text-align:center; 
    line-height:1.5em; 
    padding-bottom:45px; 
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
    letter-spacing: 2px; 
    color:white;
  }
  
  
  .articleTitle:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #777; z-index: 4;
  }
  .articleTitle:after {
    position:absolute;
    width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
    content: '\00a7'; font-size:30px; line-height:40px; color:#c50000;
    font-weight:400; z-index: 5;
    display:block;
    background-color:#f8f8f8;
  }

  .articleTitleEdit{
    color: #080808;
  }

  .articleEdit{
    margin-top: 10px;
    margin-left: 570px;
    font-size:50px;
    color: white;
  }

  
.articlePostIcon {
  margin-left: 15px;
  cursor: pointer;
}

.articlePostIcon:first-child {
  color: teal;
}
.articlePostIcon:last-child {
  color: tomato;
}



.authorName{
    color: white;
    font-size: 10px;
}

.authorName h3{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 150px;
}


.authorLink{
    text-decoration: none;
    color: white;
}

.authorLink:hover{
    color: green;
}

.singleArticleButton{
  background: white;
  border-radius: 4px;
  height: 30px;
  width:130px;
  margin-left: 150px;
  border: none;
}